.App {
  text-align: center;
}

.App-logo {
  height: 10;
  pointer-events: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome-heading {
  font-size: calc(12px + 2vmin);
  font-weight: bold;
}

.welcome-text {
  font-size: calc(6px + 2vmin);
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;

}

.model-button {
  margin-top: 2rem;
}

.error-message {
  color: red;
}

.success-message {
  color: rgb(98, 207, 105);
  font-weight: bolder;
}
